body {
    padding-top: 55px;
    background-color: #F3F4F9;
}

.dashboard {
    margin-top: 1rem;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #F3F4F9;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #F3F4F9;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 220px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* Tables */
.emission-table {
    padding: 2rem;
    background-color: white;
    font-size: 0.9rem;
}

.table thead th, .table td, .table th {
    vertical-align: middle;
}

.delete-item-button {
    background-color: transparent;
    border: white;
    margin: 0.5rem;
}

.delete-item-button:hover {
    background-color: #cacaca;
}

/* Table Pagination */
.page-link, .page-link:hover {
    color: #212529;
}

.page-item.active .page-link {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
}